.italictext {
	font-style: italic;
}
span {
	color:red;
}
table, td {
	 border:1px solid black;
	 align-self: center;
	 text-align: center;
}
div {
	width:49%;
	display: inline-block;
}
h4 {
	color: blue;
}
/*h5 {
	text-align: center;
	color: blue;
	font-style: italic;
	background-color: black;
}*/
img {
	width: 100px;
	height: 100px;
}
/*body {
	background: grey;
}*/
